.proassets-page {
    padding: 10px 60px 30px 30px;
    font-family: var(--textFamily);
    color: var(--blackColor)
}

.asset-list .title {
    font-size: 22px;
    padding: 20px 0px
}

.asset-list .asset-nav {
    text-decoration: none;
    color: var(--blackColor);
}

.asset-list .asset-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightblue);
    width: 90%;
    height: 70px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 13px 0px;
    transition: 0.4s all ease;
}

.asset-list .asset-content:hover {
    background: var(--blueColor);
    color: #fff;
}

.asset-list span {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset-list .first {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.asset-list .first p {
    font-size: 14px;
    padding-top: 10px;
}

.newasset-list .asset-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightblue);
    width: 90%;
    height: 70px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 13px 0px;
    transition: 0.4s all ease;
    cursor: pointer;
    color: var(--blackColor);
    font-size: 13px;
}
.newasset-list .asset-nav:hover{
    background: var(--blueColor);
    color:#fff;
}
.newasset-list .first {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.newasset-list .first span {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}