.auth {
    font-family: var(--textFamily);
}

.auth-title {
    color: #000;
    font-weight: 600;
    font-size: 32px;
}

.auth .text {
    font-size: 14px;
    color: var(--blackColor);
    padding-bottom: 10px;
}

.auth .form-icon {
    height: 40px;
    border: 1px solid var(--blueColor);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #1378a313;

}


.auth label {
    color: var(--blackColor);
    font-size: 15px;
    padding-bottom: 2px;
}

.auth .form-div {
    margin: 2px 0px;
}

.auth .middle p {
    padding: 5px 0px;
    font-size: 12px;
    color: crimson !Important;
    /* line-height: 10px !important; */
    padding-bottom: 20px !important;
}

.error {
    padding: 0px;
    font-size: 12px;
    color: crimson
        /* margin: 10px 0px; */
}

.auth .left-addon input,
.auth .left-addon select {
    width: 100%;
    height: 39px;
    margin-bottom: -20px;
}

.auth .show-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    color: rgba(168, 164, 164, 0.733);
    font-size: 20px;
    cursor: pointer !important;
    z-index: 999
}

.auth .line {
    padding-top: 15px;
    color: var(--grayColor);
    position: relative;
}

.auth .line span {
    padding: 0 5px;
}

.auth .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth .line .or-line {
    position: relative;
}

.auth .line .or-line:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 250px;
    background-color: rgba(39, 50, 56, 0.199);
    background-position: center;
    background-size: 2.25rem;
    background-repeat: no-repeat;
    left: 30px;
}

.auth .line .or-line:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 250px;
    background-color: rgba(39, 50, 56, 0.199);
    background-position: center;
    background-size: 2.25rem;
    background-repeat: no-repeat;
    right: 30px;
}

.auth .line img {
    width: 50px;
    position: relative;
    top: -10px;
}

/* .auth .line .google-img {
    position: absolute;
    left: 30%;
    padding-top: 15px;
} */


.pop_up_body {
    position: "absolute";
    top: 0;
    left: 0%;
    width: 100%;
    height: fit-content;
    transition: 0.4s all ease;
    padding: 30px 60px;
}

.pop_up_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.pop_up_body .pop_up_content {
    width: 47vw;
}

.pop_up_body .back-arrow {
    border: none;
    background: none;
}

.pop_up_body .back-arrow .icon {
    color: var(--blueColor);
    margin-bottom: 30px;
}

.pop_up_body .back-arrow .icon2 {
    position: relative;
    left: -8px;
}

.forgot-session {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Giving Checkbox & Radio not checked a new appearance */
[type=checkbox] {
    width: 17px;
    height: 17px;
    border: solid 1px var(--blueColor);
    margin-right: 8px;
    position: relative;
}

[type=checkbox]:checked::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: var(--blueColor);
    background-image: url('../../assets/arrowdown.png');
    background-position: center;
    background-size: 1.05rem;
    background-repeat: no-repeat;
    position: absolute;
    color: var(--goldColor)
}

.remember_content {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fff;
    color: var(--blackColor);
    font-family: var(--textFamily);
    height: fit-content;
    transition: 0.4s all ease;
    padding: 20px;
    z-index: 100;
}

.remember_content .text {
    text-align: center;
    color: crimson;
    cursor: pointer;
}

.remember_content .close {
    margin-bottom: 50px;
}

.remember_content .error {
    padding: 0Important;
    color: crimson !important;
    font-size: 12px
}

.remember_content .close h6 {
    border: 1px solid var(--blackColor);
    width: fit-content;
    text-align: right;
    display: flex;
    position: absolute;
    right: 15px;
    padding: 2px 7px;
    border-radius: 5px;
    color: crimson;
    cursor: pointer;
}

.forgot-session .nav {
    color: crimson;
    text-decoration: none;
    font-size: 14px;
}

.password-note {
    text-align: right;
    height: fit-content;
    margin-left: 60%;
    color: rgb(199, 53, 53);
    font-size: 10px;
}

/* register pop css */

.registerpop-page {
    width: 100%;
    position: relative;
    height: 100vh;
    font-family: var(--textFamily);
}

.registerpop-page .register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--grayColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.registerpop-page .close {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.registerpop-page .close .registerpop-nav {
    text-decoration: none;
    color: var(--grayColor);
    padding: 0px 6px;
    border: 2px solid var(--grayColor);
    border-radius: 5px;
}

.registerpop-page .image {
    background: #EBF3FC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerpop-page .image img {
    width: 20px;
}

.registerpop-page .title {
    padding: 40px 0px;
    font-weight: 600;
    font-size: 20px;
}

.registerpop-page .text {
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
    padding-bottom: 40px;
}

.registerpop-page .subtitle {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.registerpop-page .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.registerpop-page .nav-button .nav-link {
    width: 200px;
    border: none;
    color: #fff;
    background: var(--blueColor);
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.registerpop-page .otp-session {
    position: relative;
    top: -30px;
}

.registerpop-page .otp {
    font-size: 30px;
    letter-spacing: 15px;
    font-weight: 600;
    border-bottom: 1px solid var(--blueColor);
}

.registerpop-page .otp-resend {
    padding: 20px 0px;
    font-size: 12px;
}

.registerpop-page .otp-resend button {
    background: #EBF3FC !important;
    color: var(--blueColor) !important;
    width: auto !important
}