.Personal-container {
    padding: 30px 60px 30px 30px;
    font-family: var(--textFamily);
    position: relative;
}

/* .stepperss {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
}

.stepperss::before {
    content: "";
    background-color: rgba(39, 50, 56, 0.281);
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s all ease;
}

.stepperss::before .active {
    background-color: red;
}

.stepperss .progressbar {
    background-color: var(--orangeColor);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s all ease;
}

.personal-iteration {
    background-color: rgba(39, 50, 56, 0.7);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-iteration.active {
    background-color: var(--orangeColor);
} */

.stepperss {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.stepperss p {
    font-size: 12px;
    padding-left: 20px;
    width: 80px
}


.step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    position: relative;
}

.personal-iteration {
    position: relative;
    background: rgba(39, 50, 56, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blackColor);
    z-index: 2
}


.personal-iteration::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 67px;
    background-color: rgba(39, 50, 56, 0.7);
    background-position: center;
    background-size: 2.25rem;
    background-repeat: no-repeat;
    left: 30px;
    z-index: 1;
}

/* .personal-iteration:last-child:before {
    background-color: transparent;
} */
/* .step:not(:last-child):before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 67px;
    background-color: rgba(39, 50, 56, 0.7);
    background-position: center;
    background-size: 2.25rem;
    background-repeat: no-repeat;
    left: 30px;
    z-index: 1;
}

.step:last-child:before {
    content: "" !important;
    background-color: transparent !important;
} */

.step .active {
    color: var(--blackColor);
    position: relative;
    background: var(--orangeColor);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step .active::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 67px;
    background-color: var(--orangeColor);
    background-position: center;
    background-size: 2.25rem;
    background-repeat: no-repeat;
    left: 30px;
    z-index: 1;
}



.Personal-container .top {
    display: flex;
    justify-content: space-between;
}

.Personal-container .top .top-title {
    padding-left: 15px;
}

.Personal-container .top .personal-nav {
    color: var(--blueColor);
    position: relative;
}

.Personal-container .top .icon2 {
    position: relative;
    left: -7px;
}

.Personal-container .top .text {
    font-size: 24px;
    color: var(--blackColor);

}

.Personal-container .top .tiny-text {
    width: 300px;
    text-align: right;
    font-size: 13px;
}

.Personal-list-content {
    margin-top: 50px;
    border: var(--borderColor);
    border-radius: 10px;
    padding: 25px;
}

.Personal-list-content .list-content-top {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.Personal-list-content .nav-btn {
    position: absolute;
    right: 30px;
    top: 10px;
    text-decoration: none;
    background: var(--blueColor);
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

.Personal-list-content .nav-btn1 {
    background: var(--blueColor2);
}

.Personal-list-content .image {
    background: var(--blueColor);
    padding: 9px 12px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.Personal-list-content .image1 {
    background: var(--blueColor2);
}

.Personal-list-content .name {
    color: var(--blackColor);
    font-size: 17px;
}

.Personal-list-content .name span {
    display: block;
}

.Personal-list-content .list-content-row {
    margin-top: 20px;
}

.Personal-list-content .list-content-row label {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}

.Personal-list-content .details {
    border: 1px solid var(--blueColor);
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    background: rgba(240, 250, 255, 0.68);
    font-size: 13px;
    color: var(--blackColor)
}

.Personal-list-content .details span {
    padding-left: 15px;
}

.Personal-container .Personal-list-button {
    position: fixed;
    bottom: 30px;
    display: flex;
    gap: 10rem;
    right: 50px;
}

.Personal-container .Personal-list-button .nav-link {
    background: var(--blueColor);
    color: #fff;
    width: 250px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

.Personal-container .Personal-list-button .nav-link1 {
    background: var(--blueColor2);
}