.Personal-container {
    padding: 30px 60px 30px 30px;
    font-family: var(--textFamily);
    position: relative;
}

.stepping-start{
    display: flex;
    justify-content: center;
}
.step-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12%;
}
.step-item:not(:first-child)::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(165, 164, 164, 0.671);
    right: 50%;
    top: 14.333333%;
    transform: translateY(50%);
}

.step{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(128, 128, 128, 0.897);
    color: var(--blackColor);
    border-radius: 50%;
    z-index: 10
}
.stepping-start .stepActive .step{
    background-color: var(--orangeColor);
}
.stepping-start .complete .step{
    background-color: var(--orangeColor);
}
.stepping-start .complete:not(:first-child)::before,
.stepping-start .stepActive:not(:first-child):before{
    background-color: var(--orangeColor);
}
.stepName{
    width: 50px;
    text-align: center;
    font-size: 13px;
    color: var(--blackColor)
}
.Personal-container .top {
    display: flex;
    justify-content: space-between;
}

.Personal-container .top .top-title {
    padding-left: 15px;
}

.Personal-container .top .personal-nav {
    color: var(--blueColor);
    position: relative;
    background: none;
    border: none;
}

.Personal-container .top .icon2 {
    position: relative;
    left: -7px;
}

.Personal-container .top .text {
    font-size: 24px;
    color: var(--blackColor);

}

.Personal-container .top .tiny-text {
    width: 300px;
    text-align: right;
    font-size: 13px;
}

.Personal-list-content {
    margin-top: 50px;
    border: var(--borderColor);
    border-radius: 10px;
    padding: 25px;
}

.Personal-list-content .list-content-top {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.Personal-list-content .nav-btn {
    position: absolute;
    right: 30px;
    top: 10px;
    text-decoration: none;
    background: var(--blueColor);
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

.Personal-list-content .nav-btn1 {
    background: var(--blueColor2);
}

.Personal-list-content .image {
    background: var(--blueColor);
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.Personal-list-content .even{
    background: var(--blueColor2);
}

.Personal-list-content .image1 {
    background: var(--blueColor2);
}

.Personal-list-content .name {
    color: var(--blackColor);
    font-size: 17px;
}

.Personal-list-content .name span {
    display: block;
}

.Personal-list-content .list-content-row {
    margin-top: 20px;
}

.Personal-list-content .list-content-row label {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
    color: var(--inputColor)
}

.Personal-list-content .details {
    border: 1px solid var(--blueColor);
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    height: 35px;
    background: var(--veryLightBlue);
    font-size: 13px;
    color: var(--inputColor);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
}
.Personal-list-content .details .icon1{
    background: rgba(0, 109, 91, 0.096);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Personal-list-content .details .icon{
    color: var(--blueColor);
    font-size: 11px;
}


.Personal-container .Personal-list-button {
    position: fixed;
    bottom: 30px;
    display: flex;
    gap: 10rem;
    right: 50px;
}

.Personal-container .Personal-list-button .nav-link {
    background: var(--blueColor);
    color: #fff;
    width: 250px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

.Personal-container .Personal-list-button .nav-link1 {
    background: var(--blueColor2);
}


/* tabs */
.Personal-bloc-tabs{
    display: none;
}
.register-bloc-tabs {
    display: none;
}

.PersonalFormcontent {
    width: 100%;
    display: none;
}

.active-PersonalFormcontent {
    display: block;
}
.Personal-container .toptext{
    font-size: 17px;
    font-family: var(--textFamily);
    color: var(--blackColor);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Personal-container .toptext1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
/* .Personal-container .toptext span{
    padding: 0px 7px;
} */
.Personal-container .toptext .icon{
    color: var(--blueColor)
}